/*=================================== 11, Social ===================================*/
.social{
    background-color: #141618;
    &__content{

        &-item{

            .content-item__link{
                color: $color-white;
                margin-left: 2rem;

                &:hover{
                    color: $color-primary;
                }
            }
        }
    }
}