/*========================================================== 4, Pros ==========================================================*/
.pros {
  background-color: #292a2c;
  position: relative;
  z-index: 2;

  @include max-breakpoint(426) {
    padding: 1.5rem;
  }

  .col-lg-6,
  .col-md-6 {
    @include min-breakpoint(768) {
      padding: 0 !important;
    }
  }
  &__img {
    margin-top: -150px;
    position: relative;
    z-index: 22;
    overflow: hidden;

    @include min-breakpoint(1200) {
      margin-top: -250px;
    }

    // padding: 50px 8% 35px;
    background-color: #292a2c;

    @include max-breakpoint(767) {
      margin-top: 0;
    }

    &:hover {
      img {
        transform: scale(1.1);
      }
    }

    &-link {
      img {
        transition: all 0.3s ease-in-out;
      }
    }
  }
  &__content {
    padding: 3.125rem 8% 2.1875rem;
    background-color: #292a2c;
    margin-top: -230px;

    @include min-breakpoint(1200) {
      margin-top: -350px;
    }

    @include max-breakpoint(767) {
      margin-top: 0;
    }

    @include max-breakpoint(992) {
      // margin-top: 0;
    }

    @include max-breakpoint(426) {
      padding: 2rem 0;
    }

    &-heading {
      color: $color-primary;
      font-size: 2.5rem;
      font-family: "Bungee", cursive;
      margin-bottom: 1.5rem;

      @include max-breakpoint(769) {
        font-size: 2rem;
      }
      @include max-breakpoint(426) {
        font-size: 1.25rem;
      }
    }

    &-text {
      color: #e3e3e3 !important;
      font-family: "Rubik", sans-serif;
      width: 100%;
      background-image: url("../../../images/paintball-list.png");
      background-repeat: no-repeat;
      background-position: left top;
      background-size: auto;
      padding: 0 0 0 1.875rem;
      color: $color-white;
      margin-top: 1rem;
      font-size: 1.5rem;

      @include max-breakpoint(768) {
        font-size: 1rem;
      }
      @include max-breakpoint(426) {
        font-size: 0.85rem;
      }
    }
  }
}
