*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul, li{
    list-style: none;
}

$color-white: #fff;
$color-black: #000;

body{
    background: #000;
    color: $color-white;
}
.header{
    color: $color-black;
}