// Start Achivements
.achievements
    .container
        .row
            .col-lg-3.col-md-3
                .achievements__item
                    .achievements__item-img
                        img(src="./images/home/paintball-home-counter1.png", alt="")
                    .achievements__item-desc.text-center
                        .item-desc__number
                            span.counter(data-target='74').wow.bounceInUp
                        p.item-desc__title
                            | ELEIFEND JUSTO 
            .col-lg-3.col-md-3
                .achievements__item
                    .achievements__item-img
                        img(src="./images/home/paintball-home-counter2.png", alt="")
                    .achievements__item-desc.text-center
                        .item-desc__number
                            span.counter(data-target='9').wow.bounceInUp
                        p.item-desc__title
                            | GRAVIDA VITAE
            .col-lg-3.col-md-3
                .achievements__item
                    .achievements__item-img
                        img(src="./images/home/paintball-home-counter3.png", alt="")
                    .achievements__item-desc.text-center
                        .item-desc__number
                            span.counter(data-target='32').wow.bounceInUp
                        p.item-desc__title
                            | LOREM IPSUM
            .col-lg-3.col-md-3
                .achievements__item
                    .achievements__item-img
                        img(src="./images/home/paintball-home-counter4.png", alt="")
                    .achievements__item-desc.text-center
                        .item-desc__number
                            span.counter(data-target='18').wow.bounceInUp
                        p.item-desc__title
                            | PORTTITOR EROS
// End Achievements