// Start Banner
.banner.lazy(data-src="../images/home/banner-bg.png")
    .container
        .banner__content.wow.slideInRight(data-wow-delay="0.5s" data-wow-duration="1s")
            h2.banner__content-heading
                    | YOUR EPIC
                    br
                    | PAINTBALL 
                    br
                    | MATCH
            a(href="#").banner__content-link
                | SEE OUR OFFER
        .banner__image
            img(src="./images/home/banner-home.jpg", data-src="./images/home/banner-home.jpg").lazy
// End Banner