// Start Offer
.offer
    .container-fluid
        .row
            .col-lg-6.col-md-6
                .offer__content
                    h2.offer__content-heading
                        | Special offer for companies
                    hr
                    p.offer__content-text
                        | Vivamus in diam turpis. In condimentum maximus tristique. Maecenas non laoreet odio.
                    hr
                    a(href="#").btn.offer__content-btn
                        span.item-btn__label SEE OFFER FOR COMPANIES
                        span.item-btn__icon
                          i.fas.fa-angle-right.ml-2
            .col-lg-6.col-md-6
                .offer__image
// End Offer