// Start Pros
.pros
    .container 
        .row
            .col-lg-6.col-md-6
                .pros__img
                    a(href="#").pros__img-link
                        img(src="./images/home/paintball-home-pic1.jpg",data-src="./images/home/paintball-home-pic1.jpg").lazy
            .col-lg-6.col-md-6
                .pros__content
                    h3.pros__content-heading
                        | What makes us the best partner?
                    .pros__content-text
                        | Proin bibendum sollicitudin feugiat. Curabitur ut egestas justo.
                    .pros__content-text
                        | Curabitur ut egestas justo
                    .pros__content-text
                        | Nam massa erat aliquet rutrum eu
                    .pros__content-text
                        | Fusce interdum justo quis
// End Pros