// Start Recommend
.recommend
    .container
        .row
            .col-12
                h2.recommend__heading
                    | Recommended
                    br
                    | scenarios
            .col-lg-6.col-md-6
                .recommend__item
                    .recommend__item-img
                        img(src="../../../images/paintball-home-icon1.png", data-src="../../../images/paintball-home-icon1.png").lazy
                    .recommend__item-heading
                        h3.item-heading
                            | Porttitor eros cursus lectus aliquam
                    .recommend__item-text
                        p.item-text
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mauris dolor, gravida a varius blandit, auctor eget purus. Phasellus scelerisque.
                    hr                   
                    a(href="#").recommend__item-btn.btn
                        span.item-btn__label Read more
                        span.item-btn__icon
                            i.fas.fa-angle-right
            .col-lg-6.col-md-6
                 .recommend__item
                    .recommend__item-img
                        img(src="../../../images/paintball-home-icon2.png", data-src="../../../images/paintball-home-icon2.png").lazy
                    .recommend__item-heading
                        h3.item-heading
                            | Quisque lorem tortor fringilla sed
                    .recommend__item-text
                        p.item-text
                            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla mauris dolor, gravida a varius blandit, auctor eget purus. Phasellus scelerisque.
                    hr                   
                    a(href="#").recommend__item-btn.btn
                        span.item-btn__label Read more
                        span.item-btn__icon
                            i.fas.fa-angle-right
// End Recommend