// Start Review
.review.text-center
    .container
        .row
            .owl-carousel.owl-theme.review-slider
                .slider__item
                    h3.slider__item-heading 
                        | What people say about us
                    .slider__item-img
                        img(src="../../../images/paintball-home-testimonials1.png", alt="")
                    p.slider__item-quote
                        | Nunc tempor elit iaculis at, mattis rhoncus at, suscipit rutrum. In malesuada eros, id ipsum. Donec aliquet molestie. Donec nec velit nec nisl eu odio.
                    .hr-dots
                        span   
                        span   
                        span   
                    h4.slider__item-author
                        | BRANDON ROSS
                .slider__item
                    h3.slider__item-heading 
                        | What people say about us
                    .slider__item-img
                        img(src="../../../images/paintball-home-testimonials2.png", alt="")
                    p.slider__item-quote
                        | Duis sed felis in felis sagittis et, porttitor interdum. Proin scelerisque arcu. Donec fermentum ultrices ut, neque. Nulla aliquet nulla, convallis non.
                    .hr-dots
                        span   
                        span   
                        span   
                    h4.slider__item-author
                        | KEVIN PERRY
                .slider__item
                    h3.slider__item-heading 
                        | What people say about us
                    .slider__item-img
                        img(src="../../../images/paintball-home-testimonials3.png", alt="")
                    p.slider__item-quote
                        | Lorem ipsum dolor sit amet enim. Etiam ullamcorper. Suspendisse a pellentesque dui, non felis. Maecenas malesuada elit lectus felis, malesuada ultricies.
                    .hr-dots
                        span   
                        span   
                        span   
                    h4.slider__item-author
                        | TOM JOHNSON
// End Review