// Start Types
.types
    .container
        .row
            .col-lg-6.col-md-6.types-col
                .types__content#first
                    .types__content-wrapper
                        a(href="#").content-wrapper__link
                            .wrapper__link-text
                                |Indoor
                                br
                                | combat zones
            .col-lg-6.col-md-6.types-col
                .types__content#second
                    .types__content-wrapper
                        a(href="#").content-wrapper__link
                            .wrapper__link-text
                                |Open
                                br
                                |  battlegrounds
// End Types