$color-white: #fff;
$color-black: #212529;
$color-light: rgba(255, 255, 255, 0.7);
$color-light-75: rgba(255, 255, 255, 0.75);
$color-light-50: rgba(255, 255, 255, 0.5);
$color-primary: #f4623a;
$color-black-lighter: #6c757d; 