// Start Contact
.about-contact
    .container
        .row
            .col-lg-6.col-md-6
                .about-contact__image
            .col-lg-6.col-md-6
                .about-contact__content
                    h2.about-contact__content-heading
                        | Vivamus in diam turpis
                    hr
                    p.about-contact__content-text
                        | Mauris rhoncus orci in imperdiet placerat. Vestibulum euismod nisl suscipit ligula volutpat, a feugiat urna maximus.
                        hr
                    p.about-contact__content-text
                        | Vivamus in diam turpis. In condimentum maximus tristique. Maecenas non laoreet odio.
                    hr
                    a(href="#").btn.about-contact__content-btn
                        span.item-btn__label
                            | CONTACT US
                        span.item-btn__icon
                            i.fas.fa-angle-right.ml-2
// End Contact