// Start Features
.about-features
    .container
        .row
            .col-lg-6.col-md-6.col-sm-12
                .features__item
                    .features__item-img
                     img(src="../../../images/about/paintball-about-icon1.png", alt="")
                    h2.features__item-heading
                        | Vivamus in diam turpis. In condimentum maximus tristique odio.
                    p.features__item-text
                        | Nunc urna libero, congue porta nibh a, semper feugiat sem. Sed auctor dui eleifend, scelerisque eros ut, pellentesque nibh. Nam lacinia suscipit accumsan. Donec sodales, neque vitae rutrum convallis, nulla tortor pharetra odio, in varius ante ante sed nisi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
                    
            .col-lg-6.col-md-6.col-sm-12
                .features__item
                    .features__item-img
                     img(src="../../../images/about/paintball-about-icon2.png", alt="")
                    h2.features__item-heading
                        | Mauris rhoncus orci in imperdiet placerat. Vestibulum nisl
                    p.features__item-text
                        | Nunc urna libero, congue porta nibh a, semper feugiat sem. Sed auctor dui eleifend, scelerisque eros ut, pellentesque nibh. Nam lacinia suscipit accumsan. Donec sodales, neque vitae rutrum convallis, nulla tortor pharetra odio, in varius ante ante sed nisi. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
// End Features                   
                        