// Start Progress
.about-progress#scroll-to
    .container
        .row
            .col-12
                h2.about-progress__heading.text-center.mb-5
                    | Maecenas imperdiet eget
            .col-lg-4.progress-col
                .about-progress__bar
                    h5.about-progress__bar-heading
                        | Quisque lorem
                        span.label
                            | 60
                            em %
                    .about-progress__bar-width
                        span.process(role='progressbar' aria-valuenow='60' style='width:60%').wow.slideInLeft
            .col-lg-4.progress-col
                .about-progress__bar
                    h5.about-progress__bar-heading
                        | Nulla imperdiet
                        span.label
                            | 75
                            em %
                    .about-progress__bar-width
                        span.process(role='progressbar' aria-valuenow='75' style='width:75%').wow.slideInLeft
            .col-lg-4.progress-col
                .about-progress__bar
                    h5.about-progress__bar-heading
                        | Aliquam erat
                        span.label
                            | 85
                            em %
                    .about-progress__bar-width
                        span.process(role='progressbar' aria-valuenow='85' style='width:85%').wow.slideInLeft
// End Progress