/*============================================= 3, Banner =============================================*/
.banner {
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(92, 77, 66, 0.8) 0%,
      rgba(92, 77, 66, 0.8) 100%
    ),
    url("../images/bg-masthead.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;

  &__heading {
    color: $color-white;
    font-size: 3rem;
    font-weight: bold;
    @include max-breakpoint(426) {
      font-size: 2rem;
    }
  }
  .text-lighter {
    margin-bottom: 4rem;
    font-size: 1.25rem;
    @include max-breakpoint(426) {
      font-size: 1.05rem;
    }
  }
  &__btn {
    padding: 1.25rem 2.25rem;
    font-size: 0.85rem;
    font-weight: 700;
    color: $color-white;
    background-color: $color-primary;
    border-radius: 2rem;
    cursor: pointer;
    &:hover {
      color: $color-white;
      background-color: #f24516;
      border-color: #ee3e0d;
    }
  }
}
