// Start Copyright
.copyright
    .container
        .copyright__content
            a(href="#top").go-top
             ion-icon(name='chevron-up-outline')
            .copyright__content-text
                |  © 2020 BePaintball - BeTheme. All Rights Reserved. 
                a(href="#").content-text__link
                    | Muffin group
// End Copyright
      
