// Start Footer
footer.footer
  .container
    .row
      .col-lg-3.col-md-3
        .footer__logo
          img(src="../../../images/paintball-logo-footer.png", alt="")
      .col-lg-3.col-md-3
        .footer__item
          hr
          h2.footer__item-heading
            |LOCALIZATION
          p.footer__item-text
            | Level 13, 2 Elizabeth St,
            br
            | Melbourne, Victoria 3000,
            br
            |  Australia
      .col-lg-3.col-md-3
        .footer__item
          hr
          h2.footer__item-heading
            |QUICK CONTACT
          p.footer__item-text
            |  +61 (0) 383 766 284
            br
            | noreply@envato.com
      .col-lg-3.col-md-3
        .footer__item
          hr
          h2.footer__item-heading
            |SOCIAL MEDIA
          p.footer__item-text
            a(href="fb.com/phamanhtuan9399")
              | Facebook
            br
            a(href="#")
              | Twitter
            br
            a(href="#")
              | Instagram  
// End Footer