.preloader.preloader-active.open-preloader
    .preloader__main
        .preloader__main-spinner.d-flex.justify-content-center.align-items-center.h-100
            .bounce.bounce1-delay
            .bounce.bounce2-delay
            .bounce.bounce3