// Start Sidenav
.sidenav
    .close
        ion-icon(name='close-outline')
    .buy.btn
        a(href="#").buy__link
            | BUY NOW 
            i.fas.fa-angle-right.ml-2
    ul.sidenav__list
        li.list__item
            a(href="index.html").list__item-link.active
                span HOME
        li.list__item
            a(href="about.html").list__item-link
                span ABOUT
        li.list__item
            a(href="#").list__item-link
                span FOR COMPANIES
        li.list__item
            a(href="#").list__item-link
                span OUR OFFER
        li.list__item
            a(href="contact.html").list__item-link
                span CONTACT
.body-overlay
// End Sidenav