.go-top {
  width: 3.5rem;
  height: 3.5rem;
  background-color: rgba(33, 37, 41, 0.5);
  line-height: 3.1rem;
  display: none;
  text-align: center;
  right: 1rem;
  position: fixed;
  bottom: 1rem;
  border-radius: 50%;
  z-index: 2;

  @include max-breakpoint(992){
      display: block;
  }

  svg{
      width: 0.875rem;
      color: $color-white;
  }
}
