/* ============================================= 7, Copyright ============================================= */
.copyright{
    background-color: #1a252f;
    color: $color-white;
    text-align: center;
    padding: 1.5rem 0;
}