// Start Banner
.contact-banner
    .container
        .row
            .col-lg-10.col-md-12
                h2.contact-banner__heading
                    | FEEL FREE TO CONTACT US
                
// End Banner