// Start Contact
.contact-info
    .container
        .row
            .col-lg-4.contact-col.col-md-4
                .contact-info__item
                    .contact-info__item-img
                        img(src="../../../images/contact/paintball-contact-icon1.png", alt="")
                    h3.contact-info__item-heading
                        | Our office
                    p.contact-info__item-text
                        | Level 13, 2 Elizabeth St,
                        br
                        |  Melbourne, Victoria 3000,
                        br  
                        |  Australia
            .col-lg-4.contact-col.col-md-4
                .contact-info__item
                    .contact-info__item-img
                        img(src="../../../images/contact/paintball-contact-icon2.png", alt="")
                    h3.contact-info__item-heading
                        | Phone
                    p.contact-info__item-subtext
                        | Office
                    p.contact-info__item-text
                        | +61(0) 383 766 284
                    p.contact-info__item-subtext
                        | Booking
                    p.contact-info__item-text
                        | +61(0) 383 766 284
            .col-lg-4.contact-col.col-md-4
                .contact-info__item
                    .contact-info__item-img
                        img(src="../../../images/contact/paintball-contact-icon3.png", alt="")
                    h3.contact-info__item-heading
                        | Email
                    p.contact-info__item-text
                        | noreply@envato.com
// End Contact