/*=================================================== 2, Header ===================================================*/
.header {
  display: flex;
  align-items: center;
  padding: 1rem 0.5rem;
  position: fixed;
  top: 0;
  width: 100%;
  background: #000;

  &__menu {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &-logo {
      .menu-logo__link {

        .logo__link-wrapper {
            position: relative;
          svg {
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            fill: $color-white;
          }
        }
      }
    }

    &-list{

        .menu-list__item{

            .list__item-link{

                &:first-child{
                    color: $color-light-50;
                }
            }
        }
    }
  }
}
